{% extends 'base.html' %}

{% block content %}
<div class="row mt-4">
</div>
    <!-- Load external libraries -->
    <script src="/static/ext/proj4.js"></script>
    <script src="/static/ext/highcharts.js"></script>
    <script src="/static/ext/map.js"></script>
    <script src="/static/ext/drilldown.js"></script>
    <script src="/static/ext/europe.js"></script>

    <!-- Load Helpers -->
    <script src="/static/vis/helpers.js"></script>

    <!-- Load visualization classes -->
    <script src="/static/vis/HotelMap.js"></script>
    <script src="/static/vis/ReviewOverTime.js"></script>
    <script src="/static/vis/ReviewByNationality.js"></script>

    <!-- Load visualiztaion manager -->
    <script src="/static/main.js"></script>

<div class="row">
    <div class="col-4">
        <div id="chart"></div>
    </div>
    <div class="col-8">
        <div id="reviewovertime"></div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div id="piechart"></div>
    </div>
</div>
{% endblock content %}